html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

body{
    background-color: black;
}

*:focus {
    outline: none;
}

.name{
    color:orange;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    width: auto;
    float: left;
}

.input{
    color: green;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    border: none; 
    font-size: 1.3em;
    float: left;
    width: 60%;
}

.output{
    display: inline-block; 
    color: green;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    width: 100%;
}